<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - trace_id: %X{trace_id} span_id: %X{span_id} trace_flags: %X{trace_flags} - %msg%n</Property>
        <Property name="APP_LOG_ROOT">/var/log/spring-load-development</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <OpenTelemetry name="OpenTelemetryAppender"/>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="ca.zhoozhoo.loaddev" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Logger>

        <!-- Spring Framework Loggers -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Logger>

        <!-- Security Loggers -->
        <Logger name="org.springframework.security" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Logger>

        <!-- Database Loggers -->
        <Logger name="io.r2dbc" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Logger>

        <!-- Reactive Loggers -->
        <Logger name="reactor.netty" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Root>
    </Loggers>
</Configuration>
